@import "utilities/variables";

html, body{
  width: 1707px !important;
  height: 1067px !important;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: $default-font;
}

input[type="radio"]{
  display: none;
}

input[type="radio"]:checked + .input-container{
  & .switch-button{
    @include inner-shadow($dark-theme-color);
    background-color: $theme-color !important;
    &:before{
      transform: translateX(80px);
    }
  }
}

#settings-page{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

// Header
.header-bar{
  @extend .border-box;
  width: 100%;
  min-height: $common-size;
  margin-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: white;
  position: relative;
  display: flex;

  &:before{
    content: "";
    width: 90%;
    height: 100%;
    border-bottom: solid 2px $border-color;
    position: absolute;
    top: 0;
    left: calc(50% - (90%/2));
    z-index: 3;
  }

  & .header-section{
    width: 100%;
    height: $common-size;
    position: relative;

    &:nth-child(1){
      vertical-align: $common-size;
      vertical-align: middle;
      pointer-events: none;

      & > span{
        @extend .center-block-elem;
        @extend .border-box;
        height: 100%;
        padding-left: 20px;
        color: black;
        font-family: $softbank-font;
        font-size: 90px;
        position: relative;

        &:before{
          content: "";
          width: 90px;
          height: 23px;
          background-color: #B7BBBE;
          position: absolute;
          top: 42px;
          left: 0;
        }

        &:after{
          content: "";
          width: 90px;
          height: 23px;
          background-color: #B7BBBE;
          position: absolute;
          bottom: 42px;
          left: 0;
        }
      }
    }
    &:nth-child(2){
      @extend .center-block-elem;
      & span{
        @extend .center-block-elem;
        font-size: 35px;
        color: $light-theme-color;
        text-transform: uppercase;
        letter-spacing: 10px;
        font-weight: 300;
        position: relative;

        &:before{
          @extend .center-block-elem;
          @extend .google-icons;
          content: "\E192";
          font-size: 60px;
          vertical-align: middle;
        }
      }
    }
    &:nth-child(3){
      // background-color: lightgray;
    }
  }
}

// Slider content
.slider{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  overflow: hidden;

  & .arrow{
    width: $common-size;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    z-index: 1;

    &:before{
      @extend .border-box;
      content: '';
      width: calc(#{$common-size} / 2);
      height: calc(#{$common-size} / 2);
      background-color: transparent;
      position: absolute;
      transform: rotate(45deg);
      top: calc(50% - (#{$common-size} / 2) / 2);
      z-index: 1;
    }

    &:after{
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;

      -webkit-transition: opacity .1s ease-in-out;
         -moz-transition: opacity .1s ease-in-out;
           -o-transition: opacity .1s ease-in-out;
              transition: opacity .1s ease-in-out;
    }

    &:active:after{
      opacity: 1;
    }
  }

  & .slide-left{
    left: 0;

    -webkit-transition: opacity .5s ease-in-out;
       -moz-transition: opacity .5s ease-in-out;
         -o-transition: opacity .5s ease-in-out;
            transition: opacity .5s ease-in-out;

    &.hide-arrow{
      opacity: 0;
      pointer-events: none;
    }

    &:before{
      border-left: solid 8px $arrow-color;
      border-bottom: solid 8px $arrow-color;
      left: calc(50% - (#{$common-size} / 2) / 4);
      z-index: 1;

      -webkit-transition: transform .1s ease-in-out, border-color .1s ease-in-out;
         -moz-transition: transform .1s ease-in-out, border-color .1s ease-in-out;
           -o-transition: transform .1s ease-in-out, border-color .1s ease-in-out;
              transition: transform .1s ease-in-out, border-color .1s ease-in-out;
    }

    &:after{
      @include gradient-left(white);
      opacity: 1;
    }

    &:active{
      &:before{
        border-color: $dark-theme-color;
        transform: translateX(-20px) rotate(45deg);
      }
      &:after{
        opacity: 0;
      }
    }
  }

  & .slide-right{
    right: 0;
    opacity: 1;

    -webkit-transition: opacity .5s ease-in-out;
       -moz-transition: opacity .5s ease-in-out;
         -o-transition: opacity .5s ease-in-out;
            transition: opacity .5s ease-in-out;

    &.hide-arrow{
      opacity: 0;
      pointer-events: none;
    }

    &:before{
      border-right: solid 8px $arrow-color;
      border-top: solid 8px $arrow-color;
      right: calc(50% - (#{$common-size} / 2) / 4);
      z-index: 1;

      -webkit-transition: transform .1s ease-in-out;
         -moz-transition: transform .1s ease-in-out;
           -o-transition: transform .1s ease-in-out;
              transition: transform .1s ease-in-out;
    }

    &:after{
      @include gradient-right(white);
    opacity: 1;
    }

    &:active{
      &:before{
        border-color: $dark-theme-color;
        transform: translateX(20px) rotate(45deg);
      }
      &:after{
        opacity: 0;
      }
    }
  }
}

.slider-content{
  @extend .center-block-elem;
  width: calc(100% - (#{$common-size * 2}));
  height: 100%;
  position: absolute;
  left: calc(50% - ((100% - (#{$common-size * 2})) / 2));

  & ul{
    width: 80%;
    height: 100%;
    position: relative;
    white-space: nowrap;

    -webkit-transition: transform .8s cubic-bezier(.17,.67,.64,1.4);
       -moz-transition: transform .8s cubic-bezier(.17,.67,.64,1.4);
         -o-transition: transform .8s cubic-bezier(.17,.67,.64,1.4);
            transition: transform .8s cubic-bezier(.17,.67,.64,1.4);

    & li{
      @extend .center-inline-elem;
      width: 100%;
      height:100%;
      display: inline-block;
      position: relative;

      &:nth-child(1) .card-form:before{
        content: "\E32A";
      }
      &:nth-child(2) .card-form:before{
        content: "\E7F5";
      }
      &:nth-child(3) .card-form:before{
        content: "\E0E1";
      }
      &:nth-child(4) .card-form:before{
        content: "\E190";
      }
    }
  }
}

// Navigation bar content
.nav-bar{
  @extend .center-block-elem;
  width: 100%;
  min-height: $common-size;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
}

// Pages
#settings-page{
  &.step1{
    & .slider-content ul{
      transform: translateX(-(100% * 0));
    }

    & .progress-bar{
      width: 0;
    }
  }

  &.step2{
    & .slider-content ul{
      transform: translateX(-(100% * 1));
    }

    & .progress-bar{
      width: 25%;
    }
  }

  &.step3{
    & .slider-content ul{
      transform: translateX(-(100% * 2));
    }

    & .progress-bar{
      width: 75%;
    }
  }

  &.step4{
    & .slider-content ul{
      transform: translateX(-(100% * 3));
    }

    & .progress-bar{
      width: 100%;
    }
  }
}

// Form Cards
.card-form{
  @extend .border-box;
  width: 90%;
  height: 100%;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 80px;
  color: black;
  background-color: $light-border-color;
  font-size: 90px;
  border-radius: 30px;
  vertical-align: top;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  &:before{
    @extend .google-icons;
    font-size: 500px;
    color: $border-color;
    opacity: .3;
    position: absolute;
    top: 0px;
    right: 0px;
    pointer-events: none;
  }

  & .card-header{
    @extend .non-selectable;
    width: 100%;
    height: 200px;
    line-height: 200px;
    vertical-align: middle;
    font-size: 70px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 5px;
    position: relative;
    pointer-events: none;

    &:after{
      @extend .border-box;
      content: "";
      width: 40%;
      height: 100%;
      border-bottom: solid 15px $dark-theme-color;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  & .card-content{
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 0px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    position: relative;

    & .input-wrapper{
      @extend .border-box;
      @extend .center-block-elem;
      width: 100%;
      height: $input-height;
      position: relative;
      flex: 1;

      &:not(:last-child){
        border-bottom: solid 1px $border-color;
      }

      & span{
        width: 50%;
        height: $input-height;
        line-height: $input-height;
        color: $dark-border-color;
        font-size: 35px;
        text-transform: uppercase;
        vertical-align: middle;
        display: inline-block;
      }

      & .input-container{
        width: 50%;
        height: $input-height;
        line-height: $input-height;
        vertical-align: middle;
        display: inline-block;
        position: relative;

        & .switch-button{
          @include inner-shadow(gray);
          width: 160px;
          height: 80px;
          border-radius: 999px;
          float: right;
          background-color: $border-color;
          position: absolute;
          top: calc(50% - 40px);
          right: 0;

          -webkit-transition: background-color .3s ease-in-out;
             -moz-transition: background-color .3s ease-in-out;
               -o-transition: background-color .3s ease-in-out;
                  transition: background-color .3s ease-in-out;

          &:before{
            @include outer-shadow(gray);
            content: "";
            width: 60px;
            height: 60px;
            border-radius: 999px;
            background-color: white;
            position: absolute;
            left: 10px;
            top: calc(50% - 30px);

            -webkit-transition: transform .3s ease-in-out;
               -moz-transition: transform .3s ease-in-out;
                 -o-transition: transform .3s ease-in-out;
                    transition: transform .3s ease-in-out;
          }
        }
      }
    }
  }
}

// Effects

.touch-effect{
  width: 100px;
  height: 100px;
  background-color: $theme-color;
  border-radius: 50%;
  opacity: .5;
  z-index: 1;
  position: absolute;
  pointer-events: none;

  animation-name: TOUCH-ANIMATION;
  animation-duration: .3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@-webkit-keyframes TOUCH-ANIMATION {
  0%   { opacity: .5; transform: scale(1,1); }
  100% { opacity: 0;transform: scale(5,5); }
}
@-moz-keyframes TOUCH-ANIMATION {
  0%   { opacity: .5; transform: scale(1,1); }
  100% { opacity: 0;transform: scale(5,5); }
}
@-o-keyframes TOUCH-ANIMATION {
  0%   { opacity: .5; transform: scale(1,1); }
  100% { opacity: 0;transform: scale(5,5); }
}
@keyframes TOUCH-ANIMATION {
  0%   { opacity: .5; transform: scale(1,1); }
  100% { opacity: 0;transform: scale(5,5); }
}
