@import "utilities/variables";

html, body{
  width: 1707px;
  height: 1067px;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: $default-font;
}

#settings-page{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

// Header
.header-bar{
  @extend .border-box;
  width: 100%;
  min-height: $common-size;
  margin-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: white;
  position: relative;
  display: flex;

  &:before{
    content: "";
    width: 90%;
    height: 100%;
    border-bottom: solid 2px $border-color;
    position: absolute;
    top: 0;
    left: calc(50% - (90%/2));
    z-index: 3;
  }

  & .header-section{
    width: 100%;
    height: $common-size;
    position: relative;

    &:nth-child(1){
      vertical-align: $common-size;
      vertical-align: middle;
      pointer-events: none;

      & > span{
        @extend .center-block-elem;
        @extend .border-box;
        height: 100%;
        color: black;
        font-family: $softbank-font;
        font-size: 90px;
        position: relative;

        &:before{
          content: "";
          width: 90px;
          height: 23px;
          background-color: #B7BBBE;
          position: absolute;
          top: 42px;
          left: 0;
        }

        &:after{
          content: "";
          width: 90px;
          height: 23px;
          background-color: #B7BBBE;
          position: absolute;
          bottom: 42px;
          left: 0;
        }
      }
    }
    &:nth-child(2){
      // background-color: gray;
    }
    &:nth-child(3){
      // background-color: lightgray;
    }
  }
}

// Slider content
.slider{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  overflow: hidden;

  & .arrow{
    width: $common-size;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    z-index: 1;

    &:before{
      @extend .border-box;
      content: '';
      width: calc(#{$common-size} / 2);
      height: calc(#{$common-size} / 2);
      background-color: transparent;
      position: absolute;
      transform: rotate(45deg);
      top: calc(50% - (#{$common-size} / 2) / 2);
      z-index: 1;
    }

    &:after{
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;

      -webkit-transition: opacity .1s ease-in-out, transform .1s ease-in-out;
         -moz-transition: opacity .1s ease-in-out, transform .1s ease-in-out;
           -o-transition: opacity .1s ease-in-out, transform .1s ease-in-out;
              transition: opacity .1s ease-in-out, transform .1s ease-in-out;
    }

    &:active:after{
      opacity: 1;
    }
  }

  & .slide-left{
    left: 0;

    -webkit-transition: opacity .5s ease-in-out;
       -moz-transition: opacity .5s ease-in-out;
         -o-transition: opacity .5s ease-in-out;
            transition: opacity .5s ease-in-out;

    &.hide-arrow{
      opacity: 0;
      pointer-events: none;
    }

    &:before{
      border-left: solid 8px $arrow-color;
      border-bottom: solid 8px $arrow-color;
      left: calc(50% - (#{$common-size} / 2) / 4);
      z-index: 1;

      -webkit-transition: transform .1s ease-in-out, border-color .1s ease-in-out;
         -moz-transition: transform .1s ease-in-out, border-color .1s ease-in-out;
           -o-transition: transform .1s ease-in-out, border-color .1s ease-in-out;
              transition: transform .1s ease-in-out, border-color .1s ease-in-out;
    }

    &:after{
      @include gradient-left(white);
      transform: translateX(-($common-size / 2));
    }

    &:active{
      &:before{
        border-color: $light-theme-color;
        transform: translateX(-20px) rotate(45deg);
      }
      &:after{
        transform: translateX(0);
      }
    }
  }

  & .slide-right{
    right: 0;
    opacity: 1;

    -webkit-transition: opacity .5s ease-in-out;
       -moz-transition: opacity .5s ease-in-out;
         -o-transition: opacity .5s ease-in-out;
            transition: opacity .5s ease-in-out;

    &.hide-arrow{
      opacity: 0;
      pointer-events: none;
    }

    &:before{
      border-right: solid 8px $arrow-color;
      border-top: solid 8px $arrow-color;
      right: calc(50% - (#{$common-size} / 2) / 4);
      z-index: 1;

      -webkit-transition: transform .1s ease-in-out;
         -moz-transition: transform .1s ease-in-out;
           -o-transition: transform .1s ease-in-out;
              transition: transform .1s ease-in-out;
    }

    &:after{
      @include gradient-right(white);
      transform: translateX($common-size / 2);
    }

    &:active{
      &:before{
        border-color: $light-theme-color;
        transform: translateX(20px) rotate(45deg);
      }
      &:after{
        transform: translateX(0);
      }
    }
  }
}

.slider-content{
  @extend .center-block-elem;
  width: calc(100% - (#{$common-size * 2}));
  height: 100%;
  position: absolute;
  left: calc(50% - ((100% - (#{$common-size * 2})) / 2));

  & ul{
    width: 80%;
    height: 100%;
    position: relative;
    white-space: nowrap;

    -webkit-transition: transform .8s cubic-bezier(.17,.67,.64,1.4);
       -moz-transition: transform .8s cubic-bezier(.17,.67,.64,1.4);
         -o-transition: transform .8s cubic-bezier(.17,.67,.64,1.4);
            transition: transform .8s cubic-bezier(.17,.67,.64,1.4);

    & li{
      @extend .center-inline-elem;
      width: 100%;
      height:100%;
      display: inline-block;
      position: relative;
    }
  }
}

// Navigation bar content
.nav-bar{
  width: 100%;
  min-height: $common-size;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: gray;
  position: relative;
}

// Pages
#settings-page{
  &.step1{
    & .slider-content ul{
      transform: translateX(-(100% * 0));
    }
  }

  &.step2{
    & .slider-content ul{
      transform: translateX(-(100% * 1));
    }
  }

  &.step3{
    & .slider-content ul{
      transform: translateX(-(100% * 2));
    }
  }

  &.step4{
    & .slider-content ul{
      transform: translateX(-(100% * 3));
    }
  }
}

// Form Cards
.card-form{
  @extend .center-block-elem;
  width: 90%;
  height: 100%;
  color: black;
  background-color: $light-border-color;
  font-size: 90px;
  border-radius: 10px;
  position: relative;
}

// Effects
.touch-effect{
  width: 100px;
  height: 100px;
  background-color: $dark-border-color;
  border-radius: 50%;
  opacity: .5;
  z-index: 1;
  position: absolute;
  pointer-events: none;

  animation-name: TOUCH-ANIMATION;
  animation-duration: .3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@-webkit-keyframes TOUCH-ANIMATION {
  0%   { opacity: .5; transform: scale(1,1); }
  100% { opacity: 0;transform: scale(5,5); }
}
@-moz-keyframes TOUCH-ANIMATION {
  0%   { opacity: .5; transform: scale(1,1); }
  100% { opacity: 0;transform: scale(5,5); }
}
@-o-keyframes TOUCH-ANIMATION {
  0%   { opacity: .5; transform: scale(1,1); }
  100% { opacity: 0;transform: scale(5,5); }
}
@keyframes TOUCH-ANIMATION {
  0%   { opacity: .5; transform: scale(1,1); }
  100% { opacity: 0;transform: scale(5,5); }
}
