@import "utilities/variables";

html, body{
  width: 1707px;
  height: 1067px;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: $default-font;
}

.settings-page{
  width: 100%;
  height: 100%;
  background-color: $light-border-color;
  position: relative;
  display: flex;
  flex-direction: column;
}

// Slider content
.slider{
  width: 100%;
  height: 100%;
  background-color: $border-color;
  position: relative;
  overflow: hidden;

  & .arrow{
    width: $common-size;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;

    &:before{
      @extend .border-box;
      content: '';
      width: calc(#{$common-size} / 2);
      height: calc(#{$common-size} / 2);
      background-color: transparent;
      position: absolute;
      transform: rotate(45deg);
      top: calc(50% - (#{$common-size} / 2) / 2);
      z-index: 1;
    }

    &:after{
      content: '';
      width: 100%;
      height: 100%;
      background-color: $light-border-color;
      position: absolute;
      left: 0;
      top: 0;
      opacity: .5;

      -webkit-transition: opacity .1s ease-in-out, transform .1s ease-in-out;
         -moz-transition: opacity .1s ease-in-out, transform .1s ease-in-out;
           -o-transition: opacity .1s ease-in-out, transform .1s ease-in-out;
              transition: opacity .1s ease-in-out, transform .1s ease-in-out;
    }

    &:active:after{
      opacity: 1;
    }
  }

  & .slide-left{
    left: 0;
    &:before{
      border-left: solid 8px $arrow-color;
      border-bottom: solid 8px $arrow-color;
      left: calc(50% - (#{$common-size} / 2) / 4);

      -webkit-transition: transform .1s ease-in-out;
         -moz-transition: transform .1s ease-in-out;
           -o-transition: transform .1s ease-in-out;
              transition: transform .1s ease-in-out;
    }

    &:after{
      transform: translateX(-($common-size / 2));
    }

    &:active{
      &:before{
        transform: translateX(-20px) rotate(45deg);
      }
      &:after{
        transform: translateX(0);
      }
    }
  }

  & .slide-right{
    right: 0;
    &:before{
      border-right: solid 8px $arrow-color;
      border-top: solid 8px $arrow-color;
      right: calc(50% - (#{$common-size} / 2) / 4);

      -webkit-transition: transform .1s ease-in-out;
         -moz-transition: transform .1s ease-in-out;
           -o-transition: transform .1s ease-in-out;
              transition: transform .1s ease-in-out;
    }

    &:after{
      transform: translateX($common-size / 2);
    }

    &:active{
      &:before{
        transform: translateX(20px) rotate(45deg);
      }
      &:after{
        transform: translateX(0);
      }
    }
  }
}

.slider-content{
  width: calc(100% - (#{$common-size * 2}));
  height: 100%;
  margin: 0 auto;
  background-color: $light-border-color;
}

// Navigation bar content
.tab{
  width: 100%;
  height: $common-size;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: gray;
  position: relative;
}

// Effects
.touch-effect{
  width: 100px;
  height: 100px;
  background-color: $dark-border-color;
  border-radius: 50%;
  opacity: .5;
  z-index: 1;
  position: absolute;
  pointer-events: none;

  animation-name: TOUCH-ANIMATION;
  animation-duration: .3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@-webkit-keyframes TOUCH-ANIMATION {
  0%   { opacity: .5; transform: scale(1,1); }
  100% { opacity: 0;transform: scale(5,5); }
}
@-moz-keyframes TOUCH-ANIMATION {
  0%   { opacity: .5; transform: scale(1,1); }
  100% { opacity: 0;transform: scale(5,5); }
}
@-o-keyframes TOUCH-ANIMATION {
  0%   { opacity: .5; transform: scale(1,1); }
  100% { opacity: 0;transform: scale(5,5); }
}
@keyframes TOUCH-ANIMATION {
  0%   { opacity: .5; transform: scale(1,1); }
  100% { opacity: 0;transform: scale(5,5); }
}
