@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,100);
@font-face {
  font-family: 'Heisei';
  src: url('font/HeiseiMincho.otf'); /* IE9 Compat Modes */
}

$default-font: "Lato";
$softbank-font: "Heisei";
$common-size: 150px;
$body-min-width: 1000px;
$theme-color: #8AC3D2; // 2nd best option color #b4d35f, #3399ff, #79b9b2
$light-theme-color: lighten($theme-color, 10%);
$light-theme-color-2: lighten($theme-color, 35%);
$dark-theme-color: darken($theme-color, 10%);
$toggle-icon-size: 20px;
$border-color: #d9d9d9;
$light-border-color: lighten($border-color, 10%);
$light-border-color-2: lighten(lightgray, 15%);
$dark-border-color: darken($border-color, 10%);
$invalid-color: #ff6666;
$light-invalid-color: lighten($invalid-color, 10%);
$dark-invalid-color: darken($invalid-color, 10%);
$global-border-radius: 2px;
$arrow-color: $theme-color;

// General CSS
.area-container{
  width: 100%;
  height: 100px;
  font-size: 0;
  margin-top: 25px !important;
  border: solid 1px $border-color;
  border-radius: $global-border-radius;
  position: relative;
}

.click-button{
  &:active{
    color: white !important;
    background-color: $dark-theme-color !important;
  }
  &:hover{
    cursor: pointer !important;
  }
}

.custom-list{
  padding: 0;
  margin: 0;
  list-style: none;
}

.center-block-elem{
  display: -webkit-flex;
  display:         flex;

  -webkit-align-items: center;
          align-items: center;

  -webkit-justify-content: center;
          justify-content: center;
}

.center-inline-elem{
  display: -webkit-inline-flex !important;
  display:         inline-flex !important;

  -webkit-align-items: center !important;
          align-items: center !important;

  -webkit-justify-content: center !important;
          justify-content: center !important;
}

.border-box{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.hide-block{
  display: none !important;
}

.show-block{
  display: block !important;
}

.google-icons{
  font-family: 'Material Icons';
  // -webkit-font-feature-settings: 'liga';
}

ul{
  padding: 0;
  margin: 0;
  font-size: 0;
  list-style: none;
}
// End

// CONTENT CSS
.form-label{
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: $theme-color;
  letter-spacing: 3px;
}

.form-input{
  font-family: $default-font;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  border-bottom: solid 1px transparent;

  &::-webkit-input-placeholder {
    color: $border-color;
  }
  &:-moz-placeholder {
    color: $border-color;
  }
  &::-moz-placeholder {
    color: $border-color;
  }
  &:-ms-input-placeholder {
    color: $border-color;
  }
  &:placeholder-shown {
    color: $border-color;
  }

  -webkit-transition: color .2s, border-color .2s ease-in;
     -moz-transition: color .2s, border-color .2s ease-in;
       -o-transition: color .2s, border-color .2s ease-in;
          transition: color .2s, border-color .2s ease-in;
}


@mixin outer-shadow($shadow-color){
  -webkit-box-shadow: 0px 1px 8px 3px transparentize($shadow-color, .8);
     -moz-box-shadow: 0px 1px 8px 3px transparentize($shadow-color, .8);
          box-shadow: 0px 1px 8px 3px transparentize($shadow-color, .8);
}

@mixin inner-shadow($shadow-color){
  -webkit-box-shadow: inset -3px 0px 8px 0px transparentize($shadow-color, .8);
     -moz-box-shadow: inset -3px 0px 8px 0px transparentize($shadow-color, .8);
          box-shadow: inset -3px 0px 8px 0px transparentize($shadow-color, .8);
}


@mixin depth-button($background-color) {
  background: $background-color;
  background: -moz-linear-gradient(top, $background-color 0%, darken($background-color, 4%) 60%, darken($background-color, 5%) 65%, darken($background-color, 6%) 99%, lighten($background-color, 25%) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, $background-color), color-stop(60%, darken($background-color, 4%)), color-stop(65%, darken($background-color, 6%)), color-stop(99%, darken($background-color, 6%)), color-stop(100%, lighten($background-color, 20%)));
  background: -webkit-linear-gradient(top, $background-color 0%, darken($background-color, 4%) 60%, darken($background-color, 5%) 60%, darken($background-color, 5%) 99%, lighten($background-color, 25%) 100%);
  background: -o-linear-gradient(top, $background-color 0%, darken($background-color, 4%) 60%, darken($background-color, 5%) 65%, darken($background-color, 6%) 99%, lighten($background-color, 25%) 100%);
  background: -ms-linear-gradient(top, $background-color 0%, darken($background-color, 4%) 60%, darken($background-color, 5%) 65%, darken($background-color, 6%) 99%, lighten($background-color, 25%) 100%);
  background: linear-gradient(to bottom, $background-color 0%, darken($background-color, 4%) 60%, darken($background-color, 5%) 65%, darken($background-color, 6%) 99%, lighten($background-color, 25%) 100%);
}


@mixin gradient-down($color){
  background: $color;
  background: -moz-linear-gradient(top, $color 0%, transparentize($color, 1) 85%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, $color), color-stop(85%, transparentize($color, 1)));
  background: -webkit-linear-gradient(top, $color 0%, transparentize($color, 1) 85%);
  background: -o-linear-gradient(top, $color 0%, transparentize($color, 1) 85%);
  background: -ms-linear-gradient(top, $color 0%, transparentize($color, 1) 85%);
  background: linear-gradient(to bottom, $color 0%, transparentize($color, 1) 85%);
}

@mixin gradient-up($color){
  background: $color;
  background: -moz-linear-gradient(bottom, $color 0%, transparentize($color, 1) 85%);
  background: -webkit-gradient(left bottom, left top, color-stop(0%, $color), color-stop(85%, transparentize($color, 1)));
  background: -webkit-linear-gradient(bottom, $color 0%, transparentize($color, 1) 85%);
  background: -o-linear-gradient(bottom, $color 0%, transparentize($color, 1) 85%);
  background: -ms-linear-gradient(bottom, $color 0%, transparentize($color, 1) 85%);
  background: linear-gradient(to top, $color 0%, transparentize($color, 1) 85%);
}

@mixin gradient-left($color){
  background: $color;
  background: -moz-linear-gradient(left, $color 0%, transparentize($color, 1) 85%);
  background: -webkit-gradient(top left, top right, color-stop(0%, $color), color-stop(85%, transparentize($color, 1)));
  background: -webkit-linear-gradient(left, $color 0%, transparentize($color, 1) 85%);
  background: -o-linear-gradient(left, $color 0%, transparentize($color, 1) 85%);
  background: -ms-linear-gradient(left, $color 0%, transparentize($color, 1) 85%);
  background: linear-gradient(to right, $color 0%, transparentize($color, 1) 85%);
}

@mixin gradient-right($color){
  background: $color;
  background: -moz-linear-gradient(right, $color 0%, transparentize($color, 1) 85%);
  background: -webkit-gradient(bottom right, bottom left, color-stop(0%, $color), color-stop(85%, transparentize($color, 1)));
  background: -webkit-linear-gradient(right, $color 0%, transparentize($color, 1) 85%);
  background: -o-linear-gradient(right, $color 0%, transparentize($color, 1) 85%);
  background: -ms-linear-gradient(right, $color 0%, transparentize($color, 1) 85%);
  background: linear-gradient(to left, $color 0%, transparentize($color, 1) 85%);
}
